{
  "name": "efh-autopilot",
  "version": "2.0.0",
  "private": true,
  "packageManager": "pnpm@9.12.3",
  "engines": {
    "node": ">=20.11.1"
  },
  "scripts": {
    "dev": "npx cross-env NODE_OPTIONS='--max-old-space-size=4096' next dev --turbopack",
    "build": "pnpm run build:lms:compile",
    "build:lms:compile": "BUILD_SCOPE=1 NODE_OPTIONS='--max-old-space-size=8192' next build",
    "start": "next start",
    "lint": "next lint",
    "typecheck": "tsc --noEmit",
    "clean": "rimraf .next out node_modules pnpm-lock.yaml"
  }
}
